<footer class="mt-5 pt-5">
  <div class="container w-100 font-weight-bold">
    <div class="row">
      <div class="col-md-6">
        <strong>Credits</strong>
        <table class="table table-sm">
          <tr>
            <td>Developer:</td>
            <td>Brady Kondek</td>
          </tr>
          <tr>
            <td>Created Using:</td>
            <td>Batch</td>
          </tr>
            <tr>
              <td>Software Used:</td>
              <td>Notepad++</td>
            </tr>
          </table>
          <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }} Brady Kondek</p>
        </div>

        <div class="col-md-6">
          <strong>Friend Links</strong>
          <table class="table table-sm">
            <tr>
              <td><a target="_blank" href="https://www.bradykondek.ga"> Brady Kondek</a></td>
              <td><a target="_blank" href="https://www.ejswimmer101.ga"> EJSwimmer101</a></td>
            </tr>
          </table>
        </div>

      </div>
    </div>  
  </footer>
